# Homework 1
### Amish Vandse
### av3114

# Problem 1

## 1a
x = Pescatarian diet

y = risk of Alzheimer's disease

z = physical activity levels

People who engage in high levels of physical activity are likely to be on a pescatarian diet

People who engage in physical activity are likely to have a lower risk of Alzheimer's disease


___

## 1b
X = frequency of dentist visits

Y = number of cavities

Z = Brushing your teeth

People who brush their teeth more are more likely to visit the dentist and they are more likely to have fewer cavities. 

___

## 1c
X = Vending machines in schools

Y = childhood obesity

Z = school policies 
	
Schools with weaker policies for children's nutrition are more likely to have vending machines in the school and also are more likely to serve unhealthy food that can cause childhood obesity

___

## 1d

X = Habitual Sauna

Y = Increased longevity

Z = fitness level

Those who have a higher fitness level might use saunas more, and people with a higher fitness level might experience increased longevity

___

# Problem 2

## 2a

X = Nightly sleep duration

Y = GPA at the end of the first year

The unit of analysis is first-year college students from three different universities

___

## 2b

Who are the subjects? First-year college students from three different universities: the University of Washington, Carnegie Mellon University, and Notre Dame University

Do the subjects belong to different groups? The subjects belong to different university groups such that each university represents a different focus such as STEM, public, and catholic

What variables were measured for each subject? Previous-term GPA, end-of-term GPA, Night time sleep duration, Daytime sleep, Gender, Race, First Gen status, and  Academic term load

___

## 2c

The study was more of an observational study, because first it is unethical to assign random sleeping times to students, and using observational studying can allow for more real-world data that doesn't intervene in the students' sleeping habits. It allows the researcher to gather more naturally occurring behavior in sleep and GPA, if they had gone with an experimental approach, it would required changing the student's sleep schedule which could have harmed them in class.
___

## 2d
One limitation is self-report sleep measures

Bias: There could be a recall bias where the subjects could have differences in accuracy of the events in the past

___

## 2e

Controlled: Previous term GPA

Not Controlled: Mental health

___

## 2f

6 hours of sleep

___

# Problem 3

## 3a

In [3]:
import numpy as np
def flip(p):
    if p < 0 or p > 1:
        raise ValueError("p not between 0 and 1")
    return np.random.random() <= p

print(flip(0.26))

False

## 3b

In [4]:
def flipn(p, n):
    return np.sum(np.random.random(n) > p)
n_tails = flipn(0.67, 1000)
print(n_tails)

300

# Problem 4

## 4a

The discrimination problem the authors are concerned with was to determine the author of the Federalist papers, between Hamilton and Madison. In the context of the article, the word "discrimination" refers to differentiating between different groups based on a certain metric, in my view discrimination means something different which was mostly shaped by current events, my definition would be to treat a group of people different based on their sex, gender, race, or other personal characteristics. 

___

## 4b

Contextual words tend to be words that are used for a specific subject or context of your writing. Functional words can be described as filler words, they are words that have no meaning on their own but are important for the grammatical structure of sentences. 

___

## 4C

The author leans more toward functional words because they are less influenced by the topic and can give a more reliable idea for discrimination between the authors. 

___

# Programming Problems

In [3]:
import pandas as pd
df = pd.read_csv("~/shared/data/federalist-papers/function_word_counts.csv")

In [4]:
df

,a,all,also,an,and,any,are,as,at,be,...,who,will,with,would,your,Essay,Author,Publication,Date,total_word_count
0,35,3,2.0,3,37,7.0,8,16,7,46,...,0.0,10,11,8,0.0,Essay 52,Unknown,New York Packet,1788-02-08,1841.0
1,24,5,0.0,8,46,3.0,7,15,5,18,...,6.0,3,12,5,0.0,Essay 67,Hamilton,New York Packet,1788-03-11,1637.0
2,35,10,1.0,9,38,7.0,15,36,2,40,...,6.0,15,12,6,0.0,Essay 54,Unknown,New York Packet,1788-02-12,1994.0
3,64,3,0.0,10,49,6.0,8,18,4,40,...,5.0,6,15,12,0.0,Essay 21,Hamilton,Independent Journal,NaN,1992.0
4,51,14,1.0,9,47,5.0,7,21,5,52,...,5.0,37,13,12,0.0,Essay 58,Madison,Unknown,NaN,2083.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80,38,19,1.0,8,68,7.0,21,20,3,48,...,0.0,16,11,10,0.0,Essay 80,Hamilton,"From McLEAN's Edition, New York",NaN,2447.0
81,68,14,4.0,14,85,30.0,32,31,10,82,...,8.0,36,14,15,0.0,Essay 84,Hamilton,McLEAN's Edition,NaN,3912.0
82,42,5,1.0,9,73,6.0,13,21,6,72,...,6.0,40,18,29,0.0,Essay 46,Madison,New York Packet,1788-01-29,2606.0
83,53,13,1.0,6,64,4.0,20,33,7,52,...,0.0,15,12,8,0.0,Essay 39,Madison,Independent Journal,NaN,2603.0
84,24,9,0.0,12,44,5.0,18,20,5,36,...,2.0,6,11,5,0.0,Essay 31,Hamilton,New York Packet,1788-01-01,1730.0

In [5]:
df.head(5)

,a,all,also,an,and,any,are,as,at,be,...,who,will,with,would,your,Essay,Author,Publication,Date,total_word_count
0,35,3,2.0,3,37,7.0,8,16,7,46,...,0.0,10,11,8,0.0,Essay 52,Unknown,New York Packet,1788-02-08,1841.0
1,24,5,0.0,8,46,3.0,7,15,5,18,...,6.0,3,12,5,0.0,Essay 67,Hamilton,New York Packet,1788-03-11,1637.0
2,35,10,1.0,9,38,7.0,15,36,2,40,...,6.0,15,12,6,0.0,Essay 54,Unknown,New York Packet,1788-02-12,1994.0
3,64,3,0.0,10,49,6.0,8,18,4,40,...,5.0,6,15,12,0.0,Essay 21,Hamilton,Independent Journal,NaN,1992.0
4,51,14,1.0,9,47,5.0,7,21,5,52,...,5.0,37,13,12,0.0,Essay 58,Madison,Unknown,NaN,2083.0

In [7]:
author = df["Author"]
print("Unique Values: " + str(author.unique()))
print(author.value_counts())

Unique Values: ['Unknown' 'Hamilton' 'Madison' 'Jay' 'Hamilton and Madison']
Hamilton                51
Madison                 15
Unknown                 11
Jay                      5
Hamilton and Madison     3
Name: Author, dtype: int64

In [10]:
shall = df["shall"].mean()
print(shall)

2.988235294117647

In [12]:
df.set_index('Author')
author_when = df['when'].idxmax()
print(author_when)

27

In [13]:
author_word_count = df.groupby('Author').sum()
print(author_word_count)

                         a  all  also   an   and    any  are   as   at    be  \
Author
Hamilton              2478  431  33.0  632  2679  364.0  572  956  376  2274
Hamilton and Madison    92   20   2.0   19   215    8.0   32   36   17    27
Jay                    100   24  11.0   17   408   22.0   53  102   22   160
Madison                819  162  31.0  174  1210   86.0  215  393   82   806
Unknown                477   87  17.0   81   545   62.0  149  220   70   532

                      ...   were   what   when  which    who  will  with  \
Author                ...
Hamilton              ...  148.0  145.0  109.0   1231  256.0   686   608
Hamilton and Madison  ...   21.0    2.0    8.0     56   20.0     6    41
Jay                   ...   15.0   11.0   15.0     56   35.0    72    60
Madison               ...   76.0   43.0   22.0    451   78.0   284   225
Unknown               ...   42.0   30.0   22.0    260   40.0   190   115

                      would  your  total_word_count
Author
Hamilton                922  16.0          111035.0
Hamilton and Madison     11   0.0            5600.0
Jay                      68   3.0            8373.0
Madison                 171   5.0           40772.0
Unknown                  98   0.0           21906.0

[5 rows x 71 columns]